body {
  background: #4D4D4D;
}

.bodyContent {
  border:solid 1px blue;
  background:#fff;
}

.parkoFont {
  font-family:alef,sans-serif;
}
.removeMargin {
  margin-left:0px;
}

.customMenu img {
    left: 50px;
    position: relative;
    top: -107px;
}

.questBanner {
  margin-left:5px;
}

.questBanner img {
  width:935px;
}

