.questRow {
  position:relative;
  margin:5px auto;
  height:300px;
}

.questSubHeader {
  text-align:left;
}

/*This is for the title, It should probably be in the top css like questOveride.*/
.page-header {
  margin-top:45px;
}

.questTitle {
    color: #29ABE2;
    font-family: alef,sans-serif;
    font-size: 2.6em;
    margin: 10px 0px 10px 135px;
}

.questLearningModalities {
  text-align:center;
}

.questLearningModalities > img {
  margin:15px;
}


.questBadges {
  text-align:center;
}

.questBadges div {
    color: #29ABE2;
    font-size: 1.6em;
    margin:15px 50px 15px 0;
    font-family: alef,sans-serif;
}

.questBadges > img {
  width:100px;
  height:100px;
  margin-right:50px;
}

.questSteps {
  margin:5px auto;
}

.questSections {
    border:solid 1px #a8a8a8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px;
  margin:15px 0px
}
.questDetails {

  margin:0 auto;
}

.questDetails > div {
  width:610px;
  margin:0 auto;
}
