name: {{unit.name}}<br>
descriptions: {{unit.description}}<br>
image_url: {{unit.image_url}}<br>
url: {{unit.url}}<br>
<br>
Quests:<br>
<ul>
{% for quest in unit.quests %}
<li>
name: {{ quest.name }}<br>
partner_name: {{ quest.partner_name }}<br>
scientist_prep: {{ quest.scientist_prep }}<br>
activity_steps: {{ quest.activity_steps }}<br>
field_notes: {{ quest.field_notes }}<br>
image_name: {{ quest.image_name }}<br>
video_url: {{ quest.video_url }}<br>
image_url: {{ quest.image_url }}<br>
url: {{ quest.url }}<br>
</li>
<br>
{% endfor %}
</ul>
